.container{
  width: 100%;
  display: flex;
  justify-content: center;
}
.button{
  background-color: black;
  color:white;
  padding: 0.5em;
  width: 100%;
  border-radius: 0.5em;
  margin:1em auto;
  max-width: 300px;
  cursor: pointer;
  border: none;
  transition: all 0.1s ease-in-out;
}
.button:hover{
  opacity: 0.5;
}