.formContainer{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.inputContainer{
  width: 100%;
}

.iconsContainer{
  width: 30%;
  display: flex;
  align-items: center;
  margin: 0.5em 0
}

.icon{
  width: 20px;
  margin: 0 0.2em;
}