.container{
  background-color: rgb(239, 239, 239);
  padding: 1em;
  border-bottom: 1px solid black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top:0px;
}

.links{
  background-color: rgb(239, 239, 239);
  display: flex;
  transition: all 0.2s ease-in-out;
}

.link, .link *{
  margin: 0 0.5em;
  list-style: none;
  color: black;
  text-decoration: none;
}
.menuLogo{
  display: none;
}

@media screen and (max-width: 600px) {
  .menuLogo{
    display: block;
    width: 2em;
    cursor: pointer;
  }

  .links{
    display: flex;
    position: absolute;
    top: 70px;
    left: 0;
    background-color: rgb(239, 239, 239);
    display: flex;
    flex-direction: column;
    min-width: 50vw;
    min-height: 75vh;
    padding: 2em;
    transition: all 0.2s ease-in-out;
  }
  
  .link, .link a{
    margin: 0 0.5em;
    list-style: none;
    color: black;
    text-decoration: none;
  }
}