.container{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1em 0;
  border-bottom: 1px solid black;
}

.avatar{
  width: 100%;
  height: 300px;
  max-width: 300px;
  border-radius: 300px;
  background-size: cover;
  object-fit: cover;
}

.iconsContainer{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon{
  width: 20px;
  margin: 0 0.2em;
}