* {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
h2{
  margin: 1em 0;
  border-bottom: 2px solid black;
}
h3, p{
  margin: 1em 0
}
.container{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 400px;
  margin: auto;
  padding: 1em;
}

form{
  width: 100%;
  max-width: 400px;
}

.link{
  color: rgb(24, 77, 237);
  text-decoration: underline;
  cursor: pointer;
}

input[type="file"] {
  display: none;
}