.error{
  color: red;
  font-size: 0.8em;
  margin: 0.2em 0;
}

.input{
  padding: 0.75em 0.5em;
  margin: 0.5em 0;
  width: 100%;
  max-width: 400px;
  border-radius: 0.5em;
  border: none;
  background-color: rgb(240, 240, 240);
  border-bottom: 1px solid black;
}