.textarea{
  width:100%;
  border: none;
  border-bottom: 1px solid black;
  border-radius: 1em;
  background-color: rgb(240, 240, 240);
  min-height: 200px;
  padding: 1em;
  box-sizing: border-box;
}

.error{
  color: red;
  font-size: 0.8em;
  margin: 0.2em 0;
}