.container{
  padding: 0.5em;
  max-width: 500px;
  margin: auto;
  border-top: 1px solid black;
}
.postContainer{
  margin: 2em 0;
  background-color: rgb(235, 235, 235);
  padding: 2em;
}
.image{
  width: 100%;
  margin: 1em 0;
}
.date{
  text-align: right;
  font-size: 0.8em;
  color: gray;
}

.authorContainer{
  display: flex;
  align-items: center;
}
.avatar{
  width: 35px;
  height: 35px;
  border-radius: 35px;
  margin: 0 0.5em;
}

.username{
  color: rgb(63, 63, 63);
  font-weight: bold;
  text-decoration: underline;
  margin: 0;
}